<div class="xs-percRowHeight12 sm-percRowHeight10 modal-content background backgroundSucc textWhite">
	<div class="modal-header xs-percRowHeight10">
		<button type="button" class="close" data-dismiss="modal" ng-click="cmCtrl.cancel()">&times;</button>
		<div class="text-center textPinkish modal-title">{{cmCtrl.confirmStatus.message}}</div>
	</div>
	<div class="modal-body modalPadding xs-percRowHeight2">
		<a href="/movies" class="btn btn-default fullWidth" id="login-btn" ng-click="cmCtrl.redirect()">Torna alla Home</a>
	</div>
</div>