<div class="xs-percRowHeight12 sm-percRowHeight10 modal-content">
	<div class="modal-header xs-percRowHeight2">
		<button type="button" class="close" data-dismiss="modal" ng-click="cmCtrl.cancel()">&times;</button>
		<div class="text-center modal-title">
			<h2>Disclaimer</h2>
		</div>
	</div>
	<div class="modal-body modalPadding xs-percRowHeight10">
	<div class=" pad20b">This website is a work-in-progress personal project developed during the university.
	Its main language is Italian and only this disclaimer is written in English, in order to help all the visitors understand the
	purpouse and the structure of the website.<br>
	The purpouse of this website is to give users a clear and complete overview regarding the film he watched, presenting tons
	of statistics obtained by grouping together, with different criteria, movies, directors and actors.<br>
	At the moment I have three navigable sections: the home page, giving a brief overview of the user's statistics, the movies page, showing graphs and insights related to single movies and the actors page, related to the actors.<br>
	At the moment all the data presented is retrieved by my own imdb watchlist. The objective is to allow every user to upload his own list and, after that, to update his watchlist both by directly acting on the website or by uploading again the imdb list.<br>
	Future developments involve the population of the director section and the pages dedicated to the single movies and actors, together with posters and actors images.<br>
	Now feel free to navigate and do not hesitate to ask for other details at: quintavalle.christian@gmail.com
	</div>
	<div>
		<a href="/movies" class="btn btn-default fullWidth" id="login-btn" ng-click="cmCtrl.redirect()">Torna alla Home</a>
	</div>
</div>