<div class="modal" >
	<div id ="register-message">
	</div>
	
</div>
	<!--Loading wheel-->
	<div id="canvasloader-container" class="wrapper"></div>
	<!--Registration successful-->
	<div  class="content-modal" id="register-successful">
		<!--Finish update-->
		<div class="final-message-container">
			<div class="register-successful-title">
				Grande! Sei dei nostri!
			</div>
			<div class="register-successful-message">			
				Ti abbiamo inviato una mail di conferma.<br/>Vai a controllare!
			</div>
			<div id="btn-new-mail"><div class="btn-modal">Torna alla home</div></div>
			<div class="change-later register-again">Registrati nuovamente</div>
			<div id="email-not-received">Non ho ricevuto la mail</div>
		</div>
	</div>